{% extends "../_layout/defalutLayout.html" %}

{% block content %}
  <!-- 引入公共模块 -->
  {% include "../_component/header.html" %}

  <link rel="stylesheet" href="/public/css/home.css" />

  <div class="title">Sample</div>

  <div class="container">
    {% for item in list %}
    <div class="item">
      <a href="/movie/{{item.movieId}}"><img src="{{ item.img }}"></a>
      <div class="name">电影名：{{ item.titleCn }}</div>
      <div class="name">
        评分：
        {% if item.ratingFinal == '-1' %}
        暂未上映
        {% else %}
        {{ item.ratingFinal }}
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  <script type="text/javascript" src="/public/js/home.js"></script>
{% endblock %}