.title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 40px 0; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 8px;
  width: 1200px;
  position: absolute;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }
  .container .item {
    width: 284px;
    padding: 0 8px;
    margin-bottom: 30px; }
  .container .name {
    margin: 10px 0 0 0; }
  .container img {
    width: 100% !important;
    height: 450px !important;
    -o-object-fit: fill !important;
    object-fit: fill !important; }
